---
import ContentNormal from "../layouts/ContentNormal.astro"
import CardPlans from "../components/CardPlans.astro"
---

<section class="backgroundMain" id="cotizaciones">
  <div class="blurCircle" />
  <div class="blurCircle" style="bottom: 0; left:0; filter: blur(255px); width: 25%;"/>
  <div class="blurCircle" style="bottom: 0; right:0; filter: blur(255px); width: 25%;"/>
  <ContentNormal>
    <h1 class="titleCotizaciones">Implementa soluciones digitales, incrementa tu presencia en internet o documenta tu equipo</h1>
    <section class="containerCotizaciones">
      <CardPlans 
      title="Página de Conversión" 
      description="Requieres de un portafolio, exponenciar tu negocio o marca, esto es lo que necesitas."
      active={false} 
      />
      <CardPlans 
        title="Desarrollo a tu medida"
        description="Si buscas una solucion a un problema, optimizar procesos o mejorar tu productividad."
        active={true}
      />
      <CardPlans 
        title="Tienda en linea"
        description="Potencia tu presencia online y maximiza tus ventas con tu eCommerce personalizado."
        active={false}
      />
      <CardPlans 
      title="Branding Basico"
      description="Creamos identidades visuales impactantes, déjanos plasmar la esencia de tu negocio."
      active={false}
      />
      <CardPlans 
      title="Branding Premium"
      description="Destaca y crea una marca que perdure en la mente de tus clientes."
      active={false}
      />
      <CardPlans 
        title="Capacitacion"
        description="Introduccion a tecnologias que podrias implementar, para seguir actualizando."
        active={false}
      />
    </section>
  </ContentNormal>
</section>
<style>
  .backgroundMain {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #03021B;
    background-image: radial-gradient(#19112f 1.4000000000000001px, #03021B 1.4000000000000001px);
    background-size: 28px 28px;
    padding-bottom: 2rem;
  }

  .blurCircle {
    position: absolute;
    width: 80%;
    height: 25%;
    border-radius: 681px;
    background: #652AC6;
    filter: blur(350px); 
  }

  .titleCotizaciones {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 46px;
    text-wrap: balance;
    text-align: center;
    z-index: 1;
  }

  .containerCotizaciones {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  } 

  @media (width <= 1366px) {
    .containerCotizaciones {
      justify-content: center;
    }
  }

  @media (width < 900px) {
    .titleCotizaciones {
      font-size: 2.5rem;
    }
  }

  @media (width < 650px) {
    .titleCotizaciones {
      font-size: 1.875rem;
      line-height: normal;
    }
  }
</style>