---
import { Image } from 'astro:assets';
import uiDesign from "../assets/ui.png";
import chat from "../assets/chat.png";
import cloud from "../assets/cloud.png";
import capcacitacion from "../assets/capacitacion.png";
import devices from "../assets/Devices.webp";
import phone from "../assets/Phone.webp";
---

<section class="bento">
  <div class="glass uiDesignCard">
    <article class="contentBentoCard  cardIcon">
      <span>
        <img alt="uidesignIcon" src={uiDesign.src} class="icon" width="40px" height="30px" />
      </span>
      <div>
        <span class="titleSection">Diseño UI / UX</span>
        <p>Tenemos un equipo especializado para construir con las mejores tecnicas visuales y productivas para ti.</p>
      </div>
    </article>
  </div>
  <div class="glass supportCard">
    <article class="contentBentoCard cardIcon">
      <div>
        <img alt="support" src={chat.src} class="icon" width="40px" height="30px" />
      </div>
      <div>
        <span class="titleSection">Soporte Tecnico</span>
        <p>Cualquier problema, o duda nosotros te atendemos.</p>
      </div>
    </article>
  </div>
  <div class="glass cloudCard">
    <article class="contentBentoCard cardIcon">
      <span>
        <img alt="cloudIcon" src={cloud.src} width="40px" height="30px" />
      </span>
      <div>
        <span class="titleSection">Cloud hosting</span>
        <p>No necesitas infraestructura, nosotros nos hacemos cargo.</p>
      </div>
    </article>
  </div>
  <div class="glass capacitacionCard">
    <article class="contentBentoCard cardIcon">
      <div>
        <img alt="capacitacion" src={capcacitacion.src} class="iconVertical" width="40px" height="30px" />
      </div>
      <div>
        <span class="titleSection">Capacitacion</span>
        <p>Sesiones de tecnologia, herramientas y software.</p>
      </div>
    </article>
  </div>
  <div class="glass desktopCard">
    <article class="contentBentoCard">
      <div>
        <span class="titleSection">Desarrollo multiplataforma</span>
        <p>Es importante acceder a nuestros sistemas desde donde sea, por ello nuestros desarrollos son multiplataformas</p>
      </div>
      <div>
        <img id="devices" alt="devices" src={devices.src} width="360px" height="260px" />
      </div>
    </article>
  </div>
  <div class="glass mobileCard">
    <article class="contentBentoCard">
      <div>
        <span class="titleSection">Desarrollos Responsivos</span>
        <p>Visualiza, gestiona e interactua desde la comodidad de tu dispositivo movil!</p>
      </div>
      <div>
        <img id="phone" alt="phone" src={phone.src} width="165px" height="355px" />
      </div>
    </article>
  </div>
</section>
<style>

  .test {
    display: flex;
  }
  .bento {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .contentBentoCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    position: relative;
  }

  .cardIcon {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

    .glass {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(22.5px);
  }

  .icon {
    width: 50px;
  }

  .iconVertical {
    width: 35px;
  }

  .titleSection {
    font-size: 1.25rem;
    color: white;
    line-height: 24px;
    font-weight: 500;
  }

  p {
    color: #DEDEDE;
    font-family: Onest;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .uiDesignCard {
    grid-row: 1;
    grid-column: 1/3;
  }

  .supportCard {
    grid-row: 1;
    grid-column: 3/5;
  }

  .cloudCard {
    grid-row: 2;
    grid-column: 1/2;
  }

  .capacitacionCard {
    grid-row: 2;
    grid-column: 2/3;
  }

  .desktopCard {
    grid-row: 3/6;
    grid-column: 1/3;
  }

  .desktopCard > article > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .desktopCard > article > div > p {
    text-align: center;
    max-width: 40ch;
    text-wrap: pretty;
  }

  .mobileCard {
    grid-row: 2 / 6;
    grid-column: 3/5;
  }

  .mobileCard > article > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .mobileCard > article > div > p {
    text-align: center;
    max-width: 40ch;
    text-wrap: pretty;
  }

  @media (width <= 1700px) {

    .desktopCard > article > div > h5 {
      text-align: center;
    }

    .mobileCard > article > div > h5 {
      text-align: center;
      text-wrap: nowrap;
    }

    #devices {
      width: 60%;
    }

    #phone {
      width: 60%;
    }
  }

  @media (width < 1600px) {
    .mobileCard > article > div > h5 {
      text-wrap: balance;
    }
  }

  @media (width < 1366px) {
    .bento {
      display: none;
    }
  }
</style>